.imageBox{
    width: 600px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.textContainer{
  padding: 10px;
}

.catFactBox{
    width: 300px;
    height: auto;
    background-color: darkorchid;
    color: white;
    margin: 16px;
    padding: 8px;
    font-size: 1.2em;
}